body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-regular{
    font-size: 25px;
}

form img {
    background-color: white;
    border-radius: 50px;
}

.jumbo{
    background-color: blueviolet;
}

.second-row{
    height: 75px;
}

h2{
    margin-left: 270px;
}

.fa-regular:hover{
   color: red;
   transition: .5s all;
}

