body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(104,104,104,1) 58%, rgba(156,0,255,1) 100%);
}

#mynav{
    background-color: rgba(66, 63, 63 , 0.8);
}

.navbar-brand , .nav-link {
    color: white;
}

#mynav .navbar-brand:hover{
    color: black;
}

#mynav .nav-link:hover{
    color: black;
  
}

.navbar{
    font-weight: bold;
    font-size: 20px;
}

.card {
    background-color: transparent; 
    border: none;
  }
  
  .card-body {
    text-align: center; 
    color: white;
    font-weight: bold;
  }

  